 {% extends "base.html" %}
 {% block title %}Add Students-College Portal{% endblock %}
 {% block content %}
 <h2>Add New Students</h2>
 <div class="row justify-contentcenter">
    <div class="col-md-6"></div>
         <div class="card-header bg-dark text-white"></div>
    <h2>Add New Students</h5>
    </div>
 <!-- Plain HTML form -->
  <div class="card-body" p-4>
  <form>
     <div class="mb-3">
     <lable class="form-lable">Students Name: <input class="form-control" placeholder="Enter Student Name" typ="text">
     <div class="mb-3">
          <lable class="form-lable">Marks: <input class="form-control" placeholder="Enter Marks" type="number"type="text">
    <div class="d-grid">
    <button type="submit" class="btn btn-dark"> Add </button>
  </form>
  </div>
    </div>
</div>
</div>
  {% endblock %}
