 <!DOCTYPE html>
 <htmk>
    <head>
        <title>{% block title %} College portal {% endblock %}</title>
    </head>
    </body>
         <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('students') }}">Students</a>></a>"
            <a href="{{ url_for('about') }}">About</a>
         <nav>

         <hr>
         
         {% block content %}
         {% enblock %} 
    <hr>
    <small>College Portal - Built With Flask Python </small>
    </body>     
<html>
