{% extends "base.html" %}


{% block title %}
Grid Test — Government Polytechnic Hingoli
{% endblock %}



{% block content %}



<div class="container mt-4">



    <div class="card shadow">



        <div class="card-header text-center">


            <h3>

                📐 Bootstrap Grid Test

            </h3>


        </div>





        <div class="card-body">



            <h5 class="mb-3">

                Responsive Grid Layout

            </h5>




            <p>

                Bootstrap grid system वापरून responsive design तयार केले आहे.

            </p>





            <div class="row">



                <div class="col-md-4 mb-3">



                    <div class="card text-center shadow-sm">



                        <div class="card-body">


                            <h5>

                                Column 1

                            </h5>


                            <p>

                                Computer Engineering

                            </p>


                        </div>


                    </div>


                </div>
                
                <div class="col-md-4 mb-3">



                    <div class="card text-center shadow-sm">



                        <div class="card-body">


                            <h5>

                                Column 2

                            </h5>


                            <p>

                                Electronics & Telecommunication

                            </p>


                        </div>


                    </div>


                </div>






                <div class="col-md-4 mb-3">



                    <div class="card text-center shadow-sm">



                        <div class="card-body">


                            <h5>

                                Column 3

                            </h5>


                            <p>

                                Mechanical Engineering

                            </p>


                        </div>


                    </div>


                </div>





            </div>
            
            <hr>



            <h5 class="mt-3">

                Different Grid Sizes

            </h5>




            <div class="row text-center">



                <div class="col-12 col-md-6 mb-3">


                    <div class="p-3 border rounded">


                        Full Width on Mobile


                    </div>


                </div>





                <div class="col-12 col-md-6 mb-3">


                    <div class="p-3 border rounded">


                        Responsive Half Width


                    </div>


                </div>



            </div>




        </div>



    </div>



</div>



{% endblock %}