{% extends "base.html" %}


{% block title %}
JavaScript Sample — Government Polytechnic Hingoli
{% endblock %}



{% block content %}



<div class="container mt-4">



    <div class="card shadow">



        <div class="card-header text-center">


            <h3>

                ⚡ JavaScript Sample

            </h3>


        </div>





        <div class="card-body">



            <h5>

                JavaScript Basic Examples

            </h5>




            <p>

                खालील examples JavaScript functionality दाखवतात.

            </p>





            <button
                class="btn btn-primary"
                onclick="changeText()">



                Change Text



            </button>





            <h4 
                id="demoText"
                class="mt-3">


                Welcome to Government Polytechnic Hingoli


            </h4>
            
            <hr>



            <h5>

                Simple Calculator

            </h5>



            <div class="row">



                <div class="col-md-5">


                    <input
                        type="number"
                        id="num1"
                        class="form-control"
                        placeholder="Enter first number">


                </div>





                <div class="col-md-5">


                    <input
                        type="number"
                        id="num2"
                        class="form-control"
                        placeholder="Enter second number">


                </div>





                <div class="col-md-2">


                    <button
                        class="btn btn-success w-100"
                        onclick="addNumbers()">


                        Add


                    </button>


                </div>



            </div>





            <h5 class="mt-3">


                Result:


                <span id="answer">

                </span>


            </h5>
            
<script>


function changeText(){


    document.getElementById(
        "demoText"
    ).innerHTML =
    "✅ Text changed using JavaScript!";


}





function addNumbers(){


    let a = Number(
        document.getElementById("num1").value
    );


    let b = Number(
        document.getElementById("num2").value
    );



    let result = a + b;



    document.getElementById(
        "answer"
    ).innerHTML =
    result;


}



</script>




{% endblock %}