 {% extend 'base.html %'}
 {% block title %} Students - College Portal {% endblock %}

 {% block content %}
 <h1> All Students</h1>
 <p> Total : {{studentd|length}} students</p>

 <table border="1">
    <tr>
        <th>Name</th>
        <th>Roll Number</th>
        <th>Marks</th>
        <th>Grade</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.roll_number }}</td>
        <td>{{ students.marks }}</td>
        <td>
            {% if students.marks >= 90 %}
               Excellent
            {% elif student.marks >= 75 %}
               Good
            {% elif student.marks >= 60 %}
               Average
            {% else %}
               Need Improvement
            {% endif %}
        </td>
    <tr>
    {% endfor %}           
</table>
{% endblock %}