{% extends "base.html" %}


{% block title %}
Subjects — Government Polytechnic Hingoli
{% endblock %}



{% block content %}


<div class="container mt-4">



    <div class="d-flex justify-content-between align-items-center mb-3">


        <h2>

            <i class="bi bi-book-fill"></i>

            Engineering Subjects

        </h2>



        <a href="/" class="btn btn-secondary">


            <i class="bi bi-house"></i>

            Home


        </a>


    </div>





    <div class="row">





        <!-- Computer Engineering -->


        <div class="col-md-4 mb-4">


            <div class="card shadow h-100">



                <div class="card-header bg-primary text-white">


                    <h5 class="mb-0">


                        💻 Computer Engineering


                    </h5>


                </div>




                <div class="card-body">


                    <ul class="list-group list-group-flush">


                        <li class="list-group-item">

                            Data Structure

                        </li>


                        <li class="list-group-item">

                            Database Management System

                        </li>


                        <li class="list-group-item">

                            Object Oriented Programming

                        </li>


                        <li class="list-group-item">

                            Java Programming

                        </li>
                        
                        <li class="list-group-item">

                            Advanced Computer Network

                        </li>


                        <li class="list-group-item">

                            Operating System

                        </li>


                        <li class="list-group-item">

                            Software Engineering

                        </li>


                    </ul>


                </div>


            </div>


        </div>






        <!-- Electronics & Telecommunication Engineering -->


        <div class="col-md-4 mb-4">


            <div class="card shadow h-100">


                <div class="card-header bg-success text-white">


                    <h5 class="mb-0">


                        📡 Electronics & Telecommunication


                    </h5>


                </div>




                <div class="card-body">


                    <ul class="list-group list-group-flush">


                        <li class="list-group-item">

                            Electronic Devices & Circuits

                        </li>


                        <li class="list-group-item">

                            Microprocessor

                        </li>


                        <li class="list-group-item">

                            Digital Communication

                        </li>


                        <li class="list-group-item">

                            Embedded System

                        </li>


                        <li class="list-group-item">

                            Wireless Communication

                        </li>


                    </ul>


                </div>


            </div>


        </div>
        
        <!-- Mechanical Engineering -->


        <div class="col-md-4 mb-4">


            <div class="card shadow h-100">


                <div class="card-header bg-warning">


                    <h5 class="mb-0">


                        ⚙️ Mechanical Engineering


                    </h5>


                </div>




                <div class="card-body">


                    <ul class="list-group list-group-flush">


                        <li class="list-group-item">

                            Engineering Mechanics

                        </li>


                        <li class="list-group-item">

                            Machine Design

                        </li>


                        <li class="list-group-item">

                            Manufacturing Technology

                        </li>


                        <li class="list-group-item">

                            CAD / CAM

                        </li>


                        <li class="list-group-item">

                            Thermal Engineering

                        </li>


                    </ul>


                </div>


            </div>


        </div>




    </div>



</div>



{% endblock %}